@import './variable';

body, div, span, header, footer, nav, section, aside, article, ul, ol, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption{
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    color: #333;
    font-weight: normal;
    font-family: "Microsoft Yahei";
    box-sizing: border-box;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    &:hover{
        outline: none;
    }
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 0px;  
    height: 0px;  
    background-color: #F5F5F5;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);  
    border-radius: 10px;  
    background-color: #F5F5F5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #555;  
}  

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}   

html,body{
    height: 100%;
    width: 100%;
    font-size: 100px;
    background-color: #f1f1f1;
}

img {
    vertical-align: top;
    float: left;
    width: 100%;
}

.clear:after{
    content: '';
    display: block;
    clear: both;
}

.clear{
    zoom:1;
}

// 向左浮动
.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

.hidden{
    display: none;
}


.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ellipsis-lin2{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

//统一二级头部距离顶部高度，预留一级头部距离
.margin-top{
  margin-top: 0.44rem;
}
//统一内容距离顶部高度，预留一二级头部距离
.content-top{
  margin-top: 0.88rem;
}

//圆形按钮样式，后期可改为立体
//初始按钮
.button {
  display: inline-block;
  width:0.8rem;
  height:0.3rem;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
  line-height: 0.3rem;
}

//mint-ui样式修改
.Toast>span {
    color: white !important;
}
.mint-indicator-spin {
    display: block !important;
}
.mint-msgbox {
    width: 2.65rem;
    border-radius: 0.04rem;
    .mint-msgbox-header {
        height: 0.54rem;
        padding: 0;
        background: url(/static/images/bg_couponsInstructions@2x.png) no-repeat center;
        background-size: 2.65rem 0.54rem;
        .mint-msgbox-title {
            line-height: 0.48rem;
            font-family: $PingFang-SCM-style;
            font-size: 0.16rem;
            font-weight: normal;
            color: #FFFFFF;
        }
    }
    .mint-msgbox-content {
        border-bottom: 1px dashed #FF2C29;
        padding:0.1rem 0.15rem 0.15rem;
        .mint-msgbox-message {
            font-family: $PingFangStyle;
            font-size: 0.14rem;
            color: #464854;
            text-align: left;
            line-height: 0.25rem;
            ol {
                padding-left: 0.20rem;
                li{
                    list-style-type: decimal !important;
                }
            }
                
        }
    }
    
    
    .mint-msgbox-btns {
        height: 0.43rem;
        .confirmButtonClass {
            font-family: $PingFangStyle;
            font-size: 0.14rem;
            color: #464854;
            line-height: 0.43rem;
        }
    }
    
}


