@import url(reset.css);
html, body {
  position: relative;
  background-color: #fff; }

.topic-w {
  position: relative;
  width: 100%;
  height: auto;
  /*background-color: #fff; */
}
  .topic-w .topic-inner {
    position: relative;
    width: 16rem;
    margin: 0px auto; }
    .topic-w .topic-inner .s0 {
      position: relative;
      width: 100%;
      height: 1.92rem;
      background-color: #33c774; }
      .topic-w .topic-inner .s0 .goPrev {
        position: absolute;
        width: 0.55467rem;
        height: 0.93867rem;
        left: 0.64rem;
        top: 50%;
        margin-top: -0.46933rem; }
        .topic-w .topic-inner .s0 .goPrev img {
          width: 100%;
          height: auto; }
      .topic-w .topic-inner .s0 h1 {
        font-size: 0.72533rem;
        line-height: 1.92rem;
        color: #fff;
        text-align: center;
        letter-spacing: 0.064rem;
        font-weight: 800; }
      .topic-w .topic-inner .s0 .shareLogo {
        position: absolute;
        width: 0.85333rem;
        height: 0.768rem;
        right: 0.64rem;
        top: 50%;
        margin-top: -0.384rem; }
        .topic-w .topic-inner .s0 .shareLogo img {
          width: 100%;
          height: auto; }
    .topic-w .topic-inner .s1 img {
      width: 100%;
      height: auto; }
    .topic-w .topic-inner .s2 {
      width: 100%;
      margin: 0.42667rem auto 0px auto; }
      .topic-w .topic-inner .s2 .list {
        width: 100%; }
        .topic-w .topic-inner .s2 .list li {
          width: 50%;
          height: auto;
          float: left;
          }
          .topic-w .topic-inner .s2 .list li img {
            width: 100%;
            height: auto; }
      .topic-w .topic-inner .s2 .clear-fix {
        clear: both;
        height: 0; }
    .topic-w .topic-inner .s4 {
      position: relative;
      width: 14.72rem;
      margin: 0px auto 0.42667rem auto; }
      .topic-w .topic-inner .s4 .s3 {
        position: relative;
        width: 14.72rem;
        margin: 0px auto 0.42667rem auto; }
        .topic-w .topic-inner .s4 .s3 img {
          width: 100%;
          height: auto; }
      .topic-w .topic-inner .s4 .good-list {
        margin-top: 0.42667rem;
        width: 15.14667rem;
        height: auto; }
        .topic-w .topic-inner .s4 .good-list li {
          position: relative;
          float: left;
          width: 7.04rem;
          height: 11.73333rem;
          -webkit-border-radius: 0.10667rem;
          -moz-border-radius: 0.10667rem;
          border-radius: 0.10667rem;
          border: 2px solid #e4e7f2;
          margin-right: 0.42667rem;
          margin-bottom: 0.42667rem;
          overflow: hidden; }
          .topic-w .topic-inner .s4 .good-list li a {
            display: block;
            position: absolute;
            width: 7.04rem;
            height: 11.73333rem;
            z-index: 5;
            left: 0;
            top: 0; }
          .topic-w .topic-inner .s4 .good-list li div {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            width: 7.04rem;
            height: 7.46667rem;
            overflow: hidden; }
            .topic-w .topic-inner .s4 .good-list li div img {
              width: 5.33333rem;
              height: auto; }
          .topic-w .topic-inner .s4 .good-list li p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            height: 1.92rem;
            width: 100%;
            line-height: 0.96rem;
            font-size: 0.53333rem;
            color: #51535e;
            padding: 0px 0.42667rem;
            margin-bottom: 0.85333rem; }
          .topic-w .topic-inner .s4 .good-list li span {
            margin-left: 0.42667rem;
            margin-right: 0.256rem;
            color: #ff2c29;
            line-height: 0.96rem;
            font-size: 0.53333rem; }
          .topic-w .topic-inner .s4 .good-list li del {
            color: #a2a7ba;
            line-height: 0.96rem;
            font-size: 0.42667rem; }
      .topic-w .topic-inner .s4 .clear-fix {
        clear: both; height: 0;}
  .topic-w .to-top {
    position: fixed;
    z-index: 100;
    bottom: 0.42667rem;
    right: 0.64rem;
    width: 1.70667rem;
    height: 1.70667rem;
    display: none; }
    .topic-w .to-top img {
      width: 100%;
      height: auto; }
  .topic-w .to-shop {
    position: fixed;
    display: block;
    z-index: 90;
    right: 0.64rem;
    bottom: 2.56rem;
    width: 1.70667rem;
    height: 1.70667rem; }
    .topic-w .to-shop img {
      width: 100%;
      height: auto; }

/*# sourceMappingURL=index.css.map */
/*add by weihao*/
.line-tempName{
  height: 1px;
  border-top: 1px solid #ddd;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 64px;
  font-size: 0.55rem;
  position: relative;
}
.line-tempName span{
  position: absolute;
  top: -26px;
  background: #fff;
  padding: 0 20px;
  text-align: center;
  right: 42%;
}
.topic-w .topic-inner .s4 .good-list li div img {
  width: 100%;
  height: 100%;
}
.topic-w .topic-inner .s4 .good-list li {
  width: 7.14667rem;
}
a {
  display: block;
}